
<script src="./assets/vendor/js/bootstrap.bundle.min.js"></script>
<script src="./assets/vendor/js/jquery.js"></script>

<script src="./assets/vendor/js/gsap/gsap.min.js"></script>
<script src="./assets/vendor/js/gsap/ScrollTrigger.min.js"></script>

<script src="./assets/vendor/js/flatpickr.min.js"></script>
<script src="./assets/vendor/js/inputmask.min.js"></script>

<script src="./assets/vendor/js/superfish.min.js"></script>
<script src="./assets/vendor/js/swiper-bundle.min.js"></script>
<script src="./assets/vendor/js/sawaMotion.js"></script>

<script src="./assets/vendor/js/glightbox.min.js"></script>

<script src="./assets/vendor/js/ddfullscreenmenu.js"></script>
<script src="./assets/vendor/js/swiper-bundle.min.js"></script>

<script src="./assets/js/main.js"></script>
