
<link href="./assets/vendor/css/bootstrap.min.css" rel="stylesheet" />
<link href="./assets/vendor/css/glightbox.min.css" rel="stylesheet" />
<link href="./assets/css/vendors.min.css" rel="stylesheet" />

<link href="./assets/css/index.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
<meta content="noindex" name="robots" />

